@font-face {
    font-family: 'Poppins';
    font-display: swap;
    font-style: normal;
    font-weight: 400;
    src:
        local('Poppins'),
        url('/fonts/poppins-400.woff2') format('woff2'), 
        url('/fonts/poppins-400.woff') format('woff');
}